<app-header></app-header>
  <main>
    <ul id="users">
      @for (user of users; track user.id){
         <li>
          <app-user [user]="user"
                    [isSelected] = "user.id === selectedUserId"
          (select)="onSelecteUser($event)">
          </app-user>
        </li>
      }
    </ul>
    @if(selectedUser){
    <app-task [name]="selectedUser.name" [userId]="selectedUser.id"></app-task>
    } @else {
      <p id="fallback">Selecione um usuario</p>
    }
  </main>
<router-outlet></router-outlet>
